* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    width: 100vw;
}

section {    
    padding: 3.5em 13.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    font-size: 4rem;
}

h2 {
    color: #0055A0;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: .75rem;
}

button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 15px;
    min-width: 7.5rem;
    padding: .525rem 1.375rem .6rem;
    border-radius: .125rem;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
    font-family: Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-weight: 700;
}

.greenButton {
    border: none;
    border: 2px solid #78be20;
    background-color: #78be20;
}

.highlight {
    color: #78BE20;
}

nav > img {
    width: 100%;
}

.heroImage {
    width: 100%;
    height: 25vw;
    padding: 0 13.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page1 {
    background-image: linear-gradient(90deg, #0055a0b6, #75be22be), url('../images/bannerjoin.jpg');
    background-size: cover;
    background-position-y: 25%;
}

.winnerCompany {
    display: flex;
    justify-content: center;
    align-items: center;
}

.winnerCompany > img {
    width: 25%;
}

.winnerCompany h4 {
    font-size: 1.15em;
}

.winnerCompany ul {
    list-style: none;
    line-height: 1.2em;
}

.winnerCompany ul li {
    line-height: 1.5em;
}